    
    <section class="login-clean" style="max-height: none;margin: 0px;background: rgb(241, 247, 252);">
        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" [ngClass]=" !this.validForm?'was-validated':''"  autocomplete="off" style="max-width: 547px;">
            <h2 class="container mt-4">Login Form</h2>
            <div class="mb-3">
              <input  id="floatingDNI"  class="form-control" formControlName="username" type="text" name="username" placeholder="Email or Username" required />
              <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger mt-3">
                  <div *ngIf="username?.errors?.required">
                      Email or Username is required
                  </div>
              </div>
          </div>
          <div class="mb-3">
            <input class="form-control" formControlName="password" type="password" name="password" placeholder="Password" required/>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger mt-3">
                <div *ngIf="password?.errors?.required">
                    Password is required
                </div>
            </div>
        </div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div><a class="forgot" href="/register">Need Account?</a>
        </form>
    </section>
