<section class="login-clean " style="max-height: none;margin: 0px;background: rgb(241, 247, 252);">
    <form [formGroup]="TweetForm" (ngSubmit)="onSubmit()" [ngClass]=" !this.TweetForm?'was-validated':''"  autocomplete="off" style="max-width: 547px;">
        <h2 class="container mt-4">Tweet</h2>
        <div class="mb-3">
          <textarea  id="floatingDNI"  class="form-control" formControlName="tweet" type="text" name="tweet" placeholder="Write Something...." required maxlength="115"></textarea>
          <!-- <div *ngIf="tweet?.invalid && (tweet?.dirty || tweet?.touched)" class="alert alert-danger mt-3">
              <div *ngIf="tweet?.errors?.required">
                  Twittear
              </div>
          </div> -->
          <div class="mb-5 mt-3"><button class="btn btn-primary d-block w-100" type="submit">Twittear</button></div><a class="forgot" routerLink="/profile">Wanna Go Menu ?</a>

      </div>
    </form>
</section>
